body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.modalContainer {
  max-width: 700px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  max-height: 400px;
}

.modal-content-container{

}

.modal-img-desc-container{
  padding: 8px ;
  display: flex;
}

.modal-img {
  width: 280px;
  height: 280px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 10px;
  right: 14px;
  cursor: pointer;
  font-size: 22px;
}

.content {
  padding: 0px 20px;
  text-align: justify;
  max-height: 280px;
  overflow: auto;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

.product-details-decs {
  padding: 20px 8px 16px 8px;
  background: #fff;
  overflow: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}

.product-details-link {
  line-height: 18px;
  display: block;
  font-weight: 700;
  margin-right: 4px;
  color: #253237;
  font-size: 14px;
  text-transform: capitalize;
}

.product-details-decs-header{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.in-stock-btn {
    top: 10px !important;
    left: 10px;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
    z-index: 1;
    background-color: #F7941E
}

.shop-top-bar {
    padding: 10px 30px 6px 30px;
    background: #f6f6f6;
    margin-bottom: 30px;
}


.ftco-services .services {
  display: block;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ftco-services .services .icon {
  line-height: 1.3;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bg-color-1 {
  background: #e4b2d6;
}

.bg-color-2 {
  background: #dcc698;
}

.bg-color-3 {
  background: #a2d1e1;
}

.bg-color-4 {
  background: #dcd691;
}

.flaticon-shipped:before {
  content:url("./assets/images/icons/static-icons-1.png");
}

.flaticon-quality:before {
 content: url("./assets/images/icons/static-icons-2.png");
}

.flaticon-payment:before {
  content:url("./assets/images/icons/static-icons-3.png");
}

.flaticon-support:before {
  content:url("./assets/images/icons/static-icons-4.png");
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ftco-services .services .icon:after {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.19);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.ftco-services .services:hover .icon, .ftco-services .services:focus .icon {
  background: #82ae46;
}

.section-title-text{
  font-size: 37px !important;
  text-transform: capitalize;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}

.section-title-text span {
  color: #F7941E;
}

.sticky-nav {
  position: fixed !important;
  width: 100%;
  opacity: 1;
  z-index: 50;
  top: 0px;
  background-color: #ffffff;
}

.gray_bg {
  background: #F7F8FA;
}

.first-img{
  height: 328px;
  width: 328px;
  margin-left: auto;
    margin-right: auto;
    display: block;
}

.first-img:hover{
  transition: transform .8s ease;
  transform: scale(1.1)
}

.navbar-custom{
  background-color: #ffffff;
}

.navbar-container{
  margin-top: 78px;
}

.about-us-right{
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight
}

.about-title{
  font-size: 35px;
}

.about-text{
  font-size: 16px;
  text-align: justify;
}

.ftco-section{
  margin: 60px 0px 10px 0px;
}

.contact-us-form-input{
  border: 1.5px solid #ffffff;
}

.contact-us-form-input::placeholder {
  font-weight: bold;
  opacity: 0.6;
  color: #ffffff;
}

.carousel-image-custom{
  max-height: 720px !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  .first-img{
    height: 210px;
  }
  
  .modalContainer{
    max-width: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .modalContainer {
    max-width: 700px;
  }
}


@media screen and (max-width: 750px) {
  .modalContainer {
    max-width: 550px;
    flex-direction: column;
    width: 100%;
    height: 80vh !important;
     max-height: 80vh !important;
     overflow: auto;
  }
  .modal-img {
    width: 100%;
    object-fit: cover;
  }

  .modal-img-desc-container{
    display: flex;
    flex-direction: column;
  }

  .content{
    max-height: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .heading {
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .modalContainer {
    max-width: 400px;
    flex-direction: column;
    width: 100%;
    height: 80vh !important;
     max-height: 80vh !important;
     overflow: auto;
  }
  .modal-img {
    width: 100%;
    object-fit: cover;
  }

  .modal-img-desc-container{
    display: flex;
    flex-direction: column;
  }

  .content{
    max-height: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .heading {
    margin: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .modalContainer {
    max-width: 350px;
    flex-direction: column;
    width: 100%;
    height: 80vh !important;
     max-height: 80vh !important;
     overflow: auto;
  }
  .modal-img {
    width: 100%;
    object-fit: cover;
  }

  .modal-img-desc-container{
    display: flex;
    flex-direction: column;
  }

  .content{
    max-height: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .heading {
    margin: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .modalContainer {
    max-width: 280px;
    flex-direction: column;
    width: 100%;
    height: 80vh !important;
     max-height: 80vh !important;
  }
  .modal-img {
    width: 100%;
    object-fit: cover;
  }

  .modal-img-desc-container{
    display: flex;
    flex-direction: column;
  }

  .content{
    max-height: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
  }

  .heading {
    margin: 1rem;
  }
}